@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: gray;
}

a{
    color: greenyellow;
    padding: 4px;
}

a:hover{
    color: rgb(96, 96, 96);
}

menu a:hover{
    background-color: greenyellow;
    text-shadow: none;
}

header{
    position: static;
    margin-bottom: 22px;
}

header h1{
    border-radius: 0px 5px;
    border-left: 5px solid greenyellow;
    border-bottom: 5px solid greenyellow;
    box-shadow: -2px 2px 0px black;
}

header h1:hover{
    text-shadow: none;
    background-color: greenyellow;
}

main ul{
    width: 97vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main li{
    display: flex;
    justify-content: space-between;

    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    overflow: hidden;

    margin: 10px;
}

main img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

main article{
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .texto{
    color: rgb(60, 60, 60);
}

main .explore{
    text-align: end;
}

main li:nth-of-type(3), main li:nth-of-type(6) {
    max-height: 300px;
    grid-column: 1/3;
}