@charset "UTF-8";

/* Área destinada aos estilos compartilhados do cabeçalho e rodapé */
*{
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-decoration: none;
    text-shadow: 2px 1px 4px black;
    text-transform: uppercase;
    /* necessário expecificar a cor nas CSS privadas */
}

/*inicio do cabeçalho*/
header {
    width: 97vw;
    box-sizing: border-box;
    position: absolute;
    margin-top: 12px;
}

header section {
    width: 96vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin-left: 10px;
}

/*Ambos o titulo e os links são estilizados aqui*/

header menu a{
    padding-right: 10px;
}

header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

/* final do cabeçalho compartilhado*/



/* inicio do rodapé compartilhado
 */

footer{
    height: 40px;
    background: linear-gradient(to bottom, grey, rgba(0, 0, 0, 0.401));
    text-align: center;
    padding: 10px;
}

footer img{
    width: 40px;
}

footer img:hover{
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 50%;
}