@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 400px;
}

body{
    background-color: grey;
}

header{
    height: 70px;
    background-color: rgb(58, 58, 58);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header h1{
    width: 300px;
    color: orange;
    font-size: 20px;
    text-align: center;
}

.menu span{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 15px;
}

.menu{
    width: 40px;
    height: 40px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

}

    
#menuzin {
    width: 100%;
    height: 100%;
    background-color: rgb(66, 66, 66);

    display: none;

    position: fixed;
    top: 0;
    left: 0;
}

#menuzin:target{
    display: block;
}

#menuzin .menu{
    width: 50px;
    margin: 10px auto;
}

#menuzin menu{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#menuzin a{
    width: 80px;
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    text-decoration: none;
    color: orange;
}

#menuzin a:hover{
    color: white;
}

main div{
    width: 400px;
    margin: 100px auto;
}