@charset "UTF-8";

/* Regras comuns a elementos */

*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: orange;
}

a:hover{
    color: white;
}

img{
    width: 300px;
    height: 250px
}

/* organização visual dos elementos */

body {
    background-color: gray;
    display: grid;
    grid-template-rows: 50px auto 50px;
}

/* organização do cabeçalho */
header {
    background-color: rgb(87, 87, 87);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

menu {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}

menu p{
    width: 100px;
}

/* organização do conteúdo */
main{
    height: 800px;
    position: relative;
}

main div{
    width: 400px;
    margin-top: 100px;
    border-radius: 15px;

    background-color: rgb(99, 99, 99);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

main h2{
    width: 300px;
    margin: 10px auto;
}

main ul{
    list-style: none;
}

main li{
    padding: 10px;
}

main img{
    padding: 10px;
    border-radius: 14px;
}

main p{
    margin: 10px;
}

main a{
    padding: 6px;
    color: grey;
    background-color: orange;
    border-radius: 15px;
}