@charset "UTF-8";

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}
body{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
header{
    margin: auto;
    padding: 10px 0px 0px 10px;
    margin-top: 10px;
}
header h1{
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
}
header #html{
    width: 120px;
}
header #css{
    width: 150px;
}
main{
    background-color: white;
}
main div{
    background-color: blueviolet;
    width: 600px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid black;
    color: white;
    padding: 5px;
}
main h2{
    text-decoration: underline;
}
main li {
    list-style: none;
    border-left: 5px solid yellow;
}
footer{
    background-color: white;
}
footer p{
    width: 120px;
    margin: auto;
    margin-top: 10px;

    border:2px solid black;
    border-radius: 12px;

    background-color: yellow;
}