@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: blueviolet;
}

body {
    position: relative;
}

div {
    width: 200px;
    height: 200px;

    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background-color: red;

    text-align: center;
}