@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: blueviolet;
}

body {
    position: relative;
    background-image: linear-gradient(to right, blue, blueviolet,violet,  orange, yellow);
}

div {
    width: 200px;
    height: 200px;

    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    
    background-image: linear-gradient(270deg, blue, blueviolet,violet,  orange, yellow);

    text-align: center;
}